{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/24.jpg' %});">
            <h2>PORTFOLIO</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    <!-- ##### Portfolio Area Start ##### -->
    <section class="alazea-portfolio-area portfolio-page section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>OUR PORTFOLIO</h2>
                        <p>We devote all of our experience and efforts for creation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alazea-portfolio-filter">
                        <div class="portfolio-filter">
                            <button class="btn active" data-filter="*">All</button>
                            {% for category in category  %}
                            <button class="btn" data-filter=".{{category.name}}">{{category.name}} Design</button>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row alazea-portfolio">
                <!-- Single Portfolio Area -->
                
                {% for portfolio in portfolio %}
                <!-- Single Portfolio Area -->
                <div class="col-12 col-sm-6 col-lg-4 single_portfolio_item {{portfolio.category}}">
                    <!-- Portfolio Thumbnail -->
                    <div class="portfolio-thumbnail bg-img" style="background-image: url({{portfolio.image.url}});"></div>
                    <!-- Portfolio Hover Text -->
                    <div class="portfolio-hover-overlay">
                        <a href="{{portfolio.image.url}}" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 2">
                            <div class="port-hover-text">
                                <h3>{{portfolio.title}}</h3>
                                <h5>{{portfolio.category}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- ##### Portfolio Area End ##### -->
    {% endblock %}